<footer id="footer" class="{{class}}">
  <div class="container">
    <div class="row align-items-center text-muted">
      <div class="col-6 col-lg-4 text-lg-center order-lg-2"><a href="index.html" class="navbar-brand"><img
            src="{{root}}{{logo}}" alt="Logo"></a></div>
      <div class="col-6 col-lg-4 order-lg-1">
        <p class="eyebrow">2021 &copy; WeBuildThemes</p>
      </div>
      <div class="col-lg-4 text-center text-lg-end order-lg-3">
        <a href="" class="action eyebrow underline text-white">Buy Cube <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</footer>