<footer class="{{class}}">
  <div class="container">
    <div class="row justify-content-between g-5 mb-5 mb-lg-10">
      <div class="col-lg-4">
        <a href="{{root}}/index.html" class="navbar-brand"><img src="{{root}}{{logo}}" alt="Logo"></a>
        <p class="mt-2 text-muted pe-lg-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-lg-7">
        <div class="row g-3 g-xl-5">
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Menu</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">documentation</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">components</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">blocks</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">changelog</a></li>
              <li><a href="" class="text-reset text-primary-hover">roadmap</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Follow us</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Instagram</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Facebook</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Twitter</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Linkedin</a></li>
              <li><a href="" class="text-reset text-primary-hover">Youtube</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <span class="eyebrow text-muted mb-1 d-flex">Docs</span>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Get Started</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Components</a></li>
              <li class="mb-1"><a href="" class="text-reset text-primary-hover">Changelog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between g-2 g-lg-5">
      <div class="col-md-6 col-lg-4 order-md-2 text-md-end">
        <span class="small text-muted">5th Avenue, New York USA 10255</span>
      </div>
      <div class="col-md-6 col-lg-3 order-md-1">
        <p class="small text-muted">Copyrights © 2021</p>
      </div>
    </div>
  </div>
</footer>