<footer class="{{class}}">
  <div class="container">
    <div class="row g-2 g-lg-6 mb-8">
      <div class="col-lg-6">
        <h4>5th Avenue, New York <br>USA 10255</h4>
      </div>
      <div class="col-lg-6 text-lg-end">
        <span class="h5">+1 (234) 567 890</span>
      </div>
    </div>
    <div class="row mb-8">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row g-0 g-lg-6 text-secondary">
      <div class="col-lg-6 text-lg-end order-lg-2">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="" class="text-reset">facebook</a></li>
          <li class="list-inline-item ms-1"><a href="" class="text-reset">twitter</a></li>
          <li class="list-inline-item ms-1"><a href="" class="text-reset">linkedin</a></li>
        </ul>
      </div>
      <div class="col-lg-6 order-lg-1">
        <p>Copyrights © 2021</p>
      </div>
    </div>
  </div>
</footer>